html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
}

#app {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
